/* color variables for this project */
:root {
  --color-background: rgb(44, 55, 80);

  --color-map: rgba(53, 95, 79, 0.8);
  --color-map-highlight: rgba(110, 173, 98, 0.8);
  --color-map-click: rgba(110, 173, 98, 1);

  --color-border: rgba(226, 226, 226, 0.29);

  --color-heading: var(--indigo);
  --color-text: rgba(60, 60, 60, 0.66);

  --section-gap: 10rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

path {
  fill: var(--color-map);
  cursor: pointer;
  transition: fill 0.4s;
}

path:hover {
  fill: var(--color-map-highlight);
}
