/* color variables for this project */
:root {
  --color-background: rgb(45, 64, 108);
  --color-tooltip-bg: rgba(0, 0, 0, 0.66);
  --color-sidebar-bg: rgba(100, 100, 100, .66);

  --color-map: rgba(150, 150, 150);
  --color-map-highlight: rgb(100, 100, 100);

  --color-border: rgba(0, 0, 0, 0.33);
  --color-border-highlight: rgba(0, 0, 0, 0.66);

  --color-text: rgb(230, 230, 230);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
}

a {
  border: none;
  background-color: var(--color-tooltip-bg);
  color: var(--color-text);
  cursor: pointer;
}

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

#world-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map-image {
  height: 100%;
  width: 100%;
  position: relative;
}

path {
  fill: var(--color-map);
  stroke: var(--color-border);
  cursor: pointer;
  transition: fill 0.3s ease, stroke 0.3s ease;
  animation: fadeIn 0.2s ease-in forwards;
  stroke-width: 0.75;
}

path:hover,
.selected {
  fill: var(--color-map-highlight);
  stroke: var(--color-border-highlight);
  stroke-width: 0.75;
}

.invis {
  animation: fadeOut 0.2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}